Source: rpi-season-screen
Section: python
Priority: optional
Maintainer: Maximilian Stephan <stephan.maxi@icloud.com>
Build-Depends: debhelper-compat (= 13),
  dh-python,
  python3-setuptools,
  python3-all
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: python3-rpi-season-screen
Architecture: all
Depends: ${python3:Depends},
  ${misc:Depends}
Suggests: python-rpi-season-screen-doc
Description: RaspberryPi Sense Hat implementation to show gifs and videos (Python 3)
 This package is using a systemd startup service to show the desired contents on the Sense Hat reliably.
 A Cron job set up at midnight that restarts the service will ensure that the correct content is displayed.
 A Raspberry Pi Sense Hat is needed in order for this project to work!
 .
 This package installs the library for Python 3.

Package: python-rpi-season-screen-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Doc package for python3-rpi-season-screen (common documentation)
 This package installs the documentation for python3-rpi-season-screen.
 .
 This is the common documentation package.
