Source: rpi-season-screen
Section: python
Priority: optional
Maintainer: Maximilian Stephan <stephan.maxi@icloud.com>
Build-Depends: debhelper-compat (= 13),
  dh-python,
  python3-setuptools,
  python3-all
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: python3-rpi-season-screen
Architecture: all
Depends: ${python3:Depends},
  ${misc:Depends},
  python3-click,
  python3-sense-hat
Suggests: python-rpi-season-screen-doc
Description: <insert up to 60 chars description> (Python 3)
 <insert long description, indented with spaces>
 .
 This package installs the library for Python 3.

Package: python-rpi-season-screen-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description> (common documentation)
 <insert long description, indented with spaces>
 .
 This is the common documentation package.
