[Unit]
Description=RPI Season Screen Service

[Service]
Type=simple
ExecStart=/usr/sbin/rpi-season-screen-wrapper
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
