[Unit]
Description=RPI Sense Hat Christmas Tree Service

[Service]
Type=simple
ExecStart=/usr/sbin/christmaspi-wrapper
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
